[submodule "SwiftDIHLP"]
	path = SwiftDIHLP
	url = git@github.com:alexbasson/SwiftDIHLP.git
[submodule "SwiftDIWebRepositories"]
	path = SwiftDIWebRepositories
	url = git@github.com:alexbasson/SwiftDIWebRepositories.git
[submodule "SwiftDIAPI"]
	path = SwiftDIAPI
	url = git@github.com:alexbasson/SwiftDIAPI.git
[submodule "SwiftDIWeb"]
	path = SwiftDIWeb
	url = git@github.com:alexbasson/SwiftDIWeb.git
